@import './_var.scss';

$width : 50px;
$attr: border;
$type: monster;

@for $i from 1 to 4 {
  h#{$i} {
    font-size: $i * 10px;
  }
}

@each $i in i1 , i2 {
  .#{$i} {
    background: #fff;
  }
}

@mixin test {
  font-size: 14px;
  // line-height: font-size;
}

h1 {
  @include test;
}

.haha {
  background: red;
}
.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.test {
  @extend .haha;
  color: $blue;
  // height: 10px;
  border:1px solid red;
  #{$attr}-color: green;
  >p {
    font-size: 30px;
  }
  &:hover {
    border-color: blue;
  }
}

p {
  float: left;
}
.test2 {
  transform: scaleX(0.5);
}
